/* mobile styles */
.navbar {
    background: #ef5350;
    padding-left: 40px;
    color: white;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    border-bottom: 2px solid #636363;
}

.navbar button {
    background: #ffce00;
    border: 1px solid #636363;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Logo {
    width: 100px;
}

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/*  large tablets & laptop styles */
@media screen and (min-width: 960px) {

}

/* desktop styles */
@media screen and (min-width: 1200px) {

}